body{
	font-family: "Fjalla One";
	font-size:18pt;
	line-height:30pt;
}

br{
	content: " ";
	margin-bottom: 1.5em;
	display: block;
}

#wrapper {
	width:50%;
	max-width:700px;
	min-width: 300px; 
	margin: 0 auto;
}
